
@{
    ViewData["Title"] = "Tất cả thuộc tính";
}

<div class="row">
    <div class="col-sm-6">
        <h3>Thuộc tính</h3>
        <button class="btn btn-primary">
            <a asp-action="Add" style="color: #fff">Tạo mới</a>
        </button>
    </div>
    <div class="col-sm-6">
        <div class="div-input form-group">
            <input placeholder="Tìm kiếm" name="term" class="form-control" />
            <button id="btn_search" class="btn btn-primary">Tìm</button>
        </div>
        <div>
            <label for="div_thuoc_tinh">Tìm kiếm theo <span data-toggle="collapse" data-target="#div_thuoc_tinh"><i class="arrow-down"></i></span></label>
            <div id="div_thuoc_tinh" class="collapse">@Html.Raw(ViewBag.thuoc_tinh_checkbox)</div>
        </div>

    </div>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>

                <th>
                    Tên
                </th>
                <th>
                    Giá trị
                </th>
                <th>
                    Loại
                </th>
                <th>
                    Nhóm
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="all_thuoc_tinh">
        </tbody>

    </table>

</div>

<script asp-append-version="true" src="~/js/thuoc_tinh_ca_nhan.js"></script>
<script>
    $(function () {
        $(`[name='term']`).keypress(function (event) {
            if (event.keyCode == 13) {
                search($(this).val());
            }
        });
        search('');
    })
</script>