@model IEnumerable<QLCUNL.Models.UngVien>

@{
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
    ViewData["Title"] = "Danh sách ứng viên";
}

<div class="row">
    <div class="col-md-6">
        <h3>Danh sách ứng viên</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 table-responsive">
        <div class="totalRecs text-right"></div>
        <table id="table_data" class="display table  table-striped" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>
                        Tên
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        Lương mong muốn
                    </th>                    
                    <th class="action"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="text-align: center; width: 100%; display: inline-flex; justify-content: center">
        <div class="d-flex text-center data-container">
            <div class="paging">
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Đánh dấu thuộc tính</h4>
                    <h5 class="add_thuoc_tinh"></h5>
                </div>
                <div class="modal-body" id="thuoc_tinh_du_lieu">
                </div>
                <hr />
                <div class="modal-body" id="ghi_chu_ung_vien">
                    <div class="form-group d-none">
                        <label for="recipient-name" class="col-form-label" readonly>ID ứng viên:</label>
                        <input type="text" class="form-control" id="id_ung_vien_note">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Ghi chú:</label>
                        <textarea class="form-control" id="ghi_chu"></textarea>
                    </div>
                    <hr />
                </div>
                <div class="modal-body" id="thuoc_tinh_ghi_chu">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-size btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn-size btn btn-info" data-submit="submit" onclick="onCreateThuocTinh('@QLCUNL.Models.LoaiThuocTinh.UNG_VIEN')">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="preview-cv" role="dialog">
    <div class="modal-dialog" style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CV Ứng Viên</h4>
            </div>

            <div class="modal-body" id="cv_ung_vien">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-size btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script asp-append-version="true" type="text/javascript" src="~/js/nha_tuyen_dung_ung_vien.js"></script>
<script>
    let id = "@ViewBag.id";
    let id_ung_vien = "@ViewBag.id_ung_vien";
    let token = "@ViewBag.token1";
    $(function () {        
        search(1);
    });
</script>