@model QLCUNL.Models.ThuocTinhDuLieu

@{
    ViewData["Title"] = "Chi tiết thuộc tính dữ liệu";
}



<h3>Chi tiết thuộc tính dữ liệu</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Detail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loai_obj" class="control-label"></label>
                <input asp-for="loai_obj" class="form-control" />
                <span asp-validation-for="loai_obj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_obj" class="control-label"></label>
                <input asp-for="id_obj" class="form-control" />
                <span asp-validation-for="id_obj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user_name" class="control-label"></label>
                <input asp-for="user_name" class="form-control" />
                <span asp-validation-for="user_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngay_tao" class="control-label"></label>
                <input asp-for="ngay_tao" class="form-control" />
                <span asp-validation-for="ngay_tao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoi_tao" class="control-label"></label>
                <input asp-for="nguoi_tao" class="form-control" />
                <span asp-validation-for="nguoi_tao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngay_sua" class="control-label"></label>
                <input asp-for="ngay_sua" class="form-control" />
                <span asp-validation-for="ngay_sua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nguoi_sua" class="control-label"></label>
                <input asp-for="nguoi_sua" class="form-control" />
                <span asp-validation-for="nguoi_sua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="all">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
