@model QLCUNL.Models.CongTy

@{
    ViewData["Title"] = "Chia sẻ thông tin";
}
<h3>Chia sẻ thông tin</h3>
<hr />
<div class="row">
    <div class="col-md-12">
            <div class="form-group" style="display:none;">
                <label asp-for="id_cong_ty" class="control-label">Id</label>
                <input asp-for="id_cong_ty" readonly type="hidden" class="form-control" id="id_cong_ty" />
                <span asp-validation-for="id_cong_ty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ten_cong_ty" class="control-label">Tên công ty</label>
                <input asp-for="ten_cong_ty" readonly class="form-control" id="ten_cong_ty" />
                <span asp-validation-for="ten_cong_ty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="so_dkkd" class="control-label">Số đăng kí kinh doanh</label>
                <input asp-for="so_dkkd" readonly class="form-control" id="so_dkkd" />
                <span asp-validation-for="so_dkkd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dien_thoai" class="control-label">Điện thoại</label>
                <input asp-for="dien_thoai" readonly class="form-control" id="dien_thoai" />
                <span asp-validation-for="dien_thoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dia_chi" class="control-label">Địa chỉ</label>
                <input asp-for="dia_chi" readonly class="form-control" id="dia_chi" />
                <span asp-validation-for="dia_chi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dia_chi" class="control-label">Nhóm</label>
                <input placeholder="ID Nhóm" class="form-control" id="id_nhom" />
            </div>
            <partial name="_ChiaSeNoiDung">
    </div>
</div>

<div>
    <a asp-action="all">Quay lại danh sách</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    let id = "@ViewBag.id";
</script>
<script asp-append-version="true" src="~/js/cong_ty_edit.js"></script>

