@model QLCUNL.Models.UserJob

@{
    ViewData["Title"] = "Add";
}
<h4>User Job</h4>
<hr />
<div class="row">
    <div class="col-md-6">

            <div class="form-group">
                <label asp-for="id_job" class="control-label">Id job</label>
                <input asp-for="id_job" class="form-control" id="id_job" />
                <span asp-validation-for="id_job" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ngay_nhan_job" class="control-label">Ngày nhận job</label>
                <input asp-for="ngay_nhan_job" class="form-control" id="ngay_nhan_job" />
                <span asp-validation-for="ngay_nhan_job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" onclick="onSubmit()"><i class="icon icon-add"></i>Thêm</button>
            </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="thuoc_tinh" class="control-label">Thuộc tính</label>
            @Html.Raw(ViewBag.thuoc_tinh_checkbox)
        </div>
    </div>
</div>

<div>
    <a asp-action="All">Quay lại danh sách</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script asp-append-version="true" src="~/js/user_job.js"></script>
